# -------------------------
# Build outputs
# -------------------------
build/
*.o
*.obj
*.out
*.exe
compiler
a.out

# -------------------------
# Debug / runtime files
# -------------------------
*.log
*.tmp

# -------------------------
# IDE / Editor files
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS specific files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# WSL / Linux temp files
# -------------------------
*~

# -------------------------
# Test outputs (optional)
# -------------------------
tests/*.out

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile